@import "navbar";

body {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.site-footer {
  background-color: #0074c7;
  color: white;
  padding: 1rem 0;
  text-align: center;
  margin-top: auto;
}
.btn.btn-modal {
  background-color: #0074c7;
  border-color: #0074c7;
  color: white;
}
